.body{
  font-family: 'Righteous', cursive;
}
.tom{
  margin: 0 10px;
  margin-right: 20px;
}
.tomm{
  margin: 10px 0;
}
.nav-wrapper{
  margin: 0 80px;
}
.center{
  margin: auto !important;
}
.judulwel{
  font-family: 'Lobster', cursive;
}

.penjelasan{
  width:300px;
  /* height:10; */
  overflow:scroll;
}



.h-10 {
  height: 260px;
  width: 300px !important;
  text-align: left;
  padding: 20px;
}
.displaydes {
  height: 410px;
  overflow: auto;
  text-align: justify;
}




/* imageshake */
img:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* loading */

* {
  margin: 0;
  padding: 0;
  /* font-family: consolas; */
}

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
} */

#loading {
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

.loader {
  display: flex;
  align-items: flex-end;
  transform: translateY(-80px);
  transform: translateX(-80px);
  position: relative;
  top: 35%;
  left: 50%;
  margin: auto;

}

.loader span {
  width: 10px;
  height: 10px;
  background: #111;
  margin: 0 5px;
  height: calc(10px * var(--i));
  display: flex;
  justify-content: center;
  align-items: flex-end;
  animation: animate 2s linear infinite;
  animation-delay: calc(0.25s * var(--i));
}

@keyframes animate {
  0% {
    background: #fff;
    filter: blur(2px);
    box-shadow:
      0 0 10px #00b3ff,
      0 0 20px #00b3ff,
      0 0 40px #00b3ff,
      0 0 80px #00b3ff,
      0 0 120px #00b3ff,
      0 0 200px #00b3ff,
      0 0 300px #00b3ff,
      0 0 400px #00b3ff;
  }

  25%,
  75% {
    background: #111;
    filter: blur(0);
    box-shadow: none;
  }

  100% {
    background: #fff;
    filter: blur(2px);
    box-shadow:
      0 0 10px #00b3ff,
      0 0 20px #00b3ff,
      0 0 40px #00b3ff,
      0 0 80px #00b3ff,
      0 0 120px #00b3ff,
      0 0 200px #00b3ff,
      0 0 300px #00b3ff,
      0 0 400px #00b3ff;
  }
}

.loader span i {
  display: block;
  font-style: normal;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  transform: translateY(70px);

  animation: animate2 2s linear infinite;
  animation-delay: calc(0.25s * var(--i));
}

@keyframes animate2 {
  0% {
    color: #fff;
    filter: blur(2px);
    text-shadow:
      0 0 10px #00b3ff,
      0 0 20px #00b3ff,
      0 0 40px #00b3ff,
      0 0 80px #00b3ff,
      0 0 120px #00b3ff,
      0 0 200px #00b3ff,
      0 0 300px #00b3ff,
      0 0 400px #00b3ff;
  }

  25%,
  75% {
    color: #111;
    filter: blur(0);
    text-shadow: none;
  }

  100% {
    color: #fff;
    filter: blur(2px);
    text-shadow:
      0 0 10px #00b3ff,
      0 0 20px #00b3ff,
      0 0 40px #00b3ff,
      0 0 80px #00b3ff,
      0 0 120px #00b3ff,
      0 0 200px #00b3ff,
      0 0 300px #00b3ff,
      0 0 400px #00b3ff;
  }
}